doctype html
html
  head
    title Inventory
    link(rel="stylesheet", href="/style.css")
  body
    h1 Inventory

    h2 Tops
    table
      thead
        tr
          th Image
          th Name
      tbody
        each top in tops
          tr
            td: img(src=`/${top.ImagePath}`, alt=top.Name, width="100")
            td= top.Name

    h2 Bottoms
    table
      thead
        tr
          th Image
          th Name
      tbody
        each bottom in bottoms
          tr
            td: img(src=`/${bottom.ImagePath}`, alt=bottom.Name, width="100")
            td= bottom.Name
    h2 Shoes
    table
      thead
        tr
          th Image
          th Name
      tbody
        each shoe in shoes
          tr
            td: img(src=`/${shoe.ImagePath}`, alt=shoe.Name, width="100")
            td= shoe.Name
